extends layout

block content
  h1= title
  div
    a#new_card(href='cards/new') Yes, I want to add a new scorecard
  p  
  div
    a(href='cards') No, but I want to see my previous rounds
  p
  div
    a(href='http://www.google.com') No. This website sucks, take me to Google to find a better one.
      
