extends ../layout

block content
  h1 Add A New Round
  
  form(action="/cards", method="post")
    div
      label(for="course") Course: 
      input(type="text" name="course_name" id='course')
    div
      label(for="hole1") Hole 1:
      input(type='number' name='hole_one' id='hole1')
    div
      label(for="hole1") Hole 2:
      input(type='number' name='hole_two' id='hole2')
    div
      label(for="hole3") Hole 3:
      input(type='number' name='hole_three' id='hole3')
    div
      label(for="hole4") Hole 4:
      input(type='number' name='hole_four' id='hole4')
    div
      label(for="hole")
      input(type="submit" value="Enter Round" id='hole')
      a(href='/cards') See my rounds
    div
      a(href='/') Go Back Home
