extends ../layout

block content
  h1 Add A New Round
  
  form(action="/cards", method="post")
    div Course: 
      input(type="text" name="course_name")
    div Hole 1: 
      input(type='number' name='hole_one')
    div Hole 2:
      input(type='number' name='hole_two')
    div
      input(type="submit" value="Enter Round")
      a(href='/cards') See my rounds
